.tabs {
    margin-inline: auto;
    max-width: 65.625rem;
}

div[role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    position: relative;
    @media screen and (width < 66.875rem) {
        justify-content: center;
        padding-block-end: 0.5em;
    }
}

button[role="tab"] {
    all: unset;
    background-color: var(--button-bg);
    color: white;
    padding: 0.776rem;
    cursor: pointer;
    font-weight: var(--bold);
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;

    &[aria-selected="true"] {
        background-color: var(--el-bg);
        box-shadow: 0.25rem 0 0.375rem rgba(0, 0, 0, 0.2);
        color: var(--body-fg);
        pointer-events: none;
    }

    &[aria-selected="false"]:hover {
        background-color: var(--el-bg);
        color: var(--body-fg);
    }

    @media screen and (width < 66.875rem) {
        border-radius: 0.5rem;
    }
}

div[role="tabpanel"] {
    position: relative;
    top: -0.25rem;
    padding: 1.5em;
    padding-block-end: clamp(1.5em, 0.0935em + 6.5421vw, 5em);
    background-color: var(--el-bg);

    @media screen and (width < 66.875rem) {
        position: static;
        border-radius: 0.5rem;
    }

    & .tab-content {
        max-width: 50rem;
        margin-inline: auto;
    }

    & .disc {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style-type: disc;
        padding-inline-start: 1.5rem;

        & ul {
            list-style-type: inherit;
            padding-inline-start: 1.5rem;
        }
    }

    & ol {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-inline-start: 1.5rem;
    }
}
